/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



a:hover.btn-outline-primary {
    background-color: white!important;
    border-color: white!important;
}


.btn-outline-primary {
    color: #0f6273!important;
    border-color:#0f6273!important;
}


.bg-light {
    background-color: #cedee4 !important;
    border-color: transparent!important;
}


.btn-primary {
	color: #000 !important;
	background-color: #ffe400 !important;
	border-color: transparent !important;
	border-radius: 4rem !important;
	text-transform: uppercase !important;
	padding: 0.5rem;
}



.btn-success {
    background-color: #0f6273!important;
    border-color: #0f6273!important;
}




.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: white;
	background-clip: border-box;
	border-radius: 0px;
	padding: 10px;
	border-color: white;
	border-top: 1px solid #686868!important;
}

/* texto banner */
.display-4 {
	font-size: calc(1.475rem + 3.5vw) !important;
	font-weight: 300 !important;
	background-color: rgba(255, 255, 255, 0) !important;
	font-family: "Anton", sans-serif!important;
 	font-style: normal;
	letter-spacing: 3px;
	color: black;
	
}


#footer-nav .nav-link:hover {
	color: white;
	background: #808080 !important;
}

a.nav-link.text-light.active{
	background: #808080 !important;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.h4, h4 {
    font-size: 1.25rem !important;
    font-family: 'Roboto', sans-serif!important;
font-weight: regular!important;
}


.h5, h5 {
    font-size: 2.25rem!important;
}


p {
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold !important;
}


#scroll-to-top {
	color: #90d2cf;
}


.text-dark {
	background-color: #fff !important;
	--bs-text-opacity: 1;
	color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important;
	font-family: "Anton",sans-serif !important;
 	letter-spacing: 3px;
	
}


.text-white {
    font-family: 'Roboto', sans-serif !important;
}


.text-white {
	--bs-text-opacity: 1;
	color: black!important;
}




/* timeline background */

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(255 255 255 / 5%)!important;
}

body {
font-family: Roboto;
font-size: 1.2em;
color: rgb(2,14,4);      
background-color: #fff;   
opacity: 1;
background-size: 22px 22px;
      
}  


.img-thumbnail {
    padding: .8rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0px;
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: .0rem!important;
}


.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    /* background-color: white; */
    /* border: 1px solid; */
    padding: 10px;
    /* box-shadow: 5px 5px #d3d3d3; */
}


.bg-light {
    background-color: #cedee4 !important;
    border-color: transparent !important;
    box-shadow: 5px 5px #d3d3d3;
}



tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #cedee4!important;
}





/* card mapa */
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 0px!important;
    box-shadow: 3px 3px rgba(0,0,0,0.4)!important;

}
  

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 28px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 25px/14px Tahoma, Verdana, sans-serif;
    color: #0078A8;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.leaflet-container a {
    color: #0078A8;
    font-family: 'Roboto'sans-serif;
    border-color: #0078A8;
    border-radius: 0px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(255,255,255,0.9)!important;
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.mapthumb {
    height: 166px;
}

.leaflet-popup-content p {
    margin: 18px 0;
    font-size: 0.9rem;
}


.btn-dark {
    color: #fff;
    background-color: rgba(0, 219, 255, 0.35);
    border-color: #0078A8;
    border-radius: 0px;
}
.btn-outline-dark {
    color: #0078A8;
    border-color: #0078A8;
    border-radius: 0px;
}


/* selected text */
::-moz-selection { /* Code for Firefox */
  background: #7fcfdb;
}

::selection {
  background:#7fcfdb;
}

.bg-dark {
	--bs-bg-opacity: 1;
	background-color: rgba(227, 227, 227, 0.7) !important;
}


.navbar-dark .navbar-nav .nav-link {
	color: #000;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
	color: #000;
}


.carousel-item-title {
	background-color: rgba(255, 255, 255, 0.72);
}

.text-center {
	text-align: left !important;
}


.p-2 {
	padding: 1rem !important;
}


#home-title-box {
	padding-top: 0px!important;
	padding-bottom: 20em!important;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
}


.navbar-dark .navbar-nav .nav-link :hover {
	color:blue!important;
	font-weight: bold;
}


.nav-pills .nav-link {
	background: 0 0;
	border: 0px!important;
	border-radius: 0;
	background-color: #acacac;
	
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #0d6efd;
}


.breadcrumb-item + .breadcrumb-item {
	padding-left: .5rem;
	font-family: Roboto !important;
}

.btn-outline-primary :hover{
	border-color: #0f6273 !important;
	background-color: lightgray;
}

